/* poppins-300 - latin */
@font-face {
    font-display: swap;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2');

}
@font-face {
    font-display: swap;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2');

}

@font-face {
    font-display: swap;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2');

}

@font-face {
    font-display: swap;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v22-latin-900.woff2') format('woff2');

}


:root {
--color-brand-color: #547027
--color-band-dark #31261A
}

ul{list-style-type: none;}
body{ color: var(--color-brand);
font-family: 'poppins', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.5;}

.buton{
color: #faf4ea; 
background-color: var(--color-brand-color);
border: 2px solid var(--color-brand-color);
border-radius: 8px;
cursor: pointer;
font-weight: 600;
}


/* button */
.button:hover {
    color: #547027;
    background-color: transparent;
}
button:focus {
    color: fuchsia;
    background-color: transparent;
}
/* link */
.link{
    color: chocolate;
    font-size: 18px;
    ;
}
.link:hover {
    color: var(--color-brand-color);
    font-weight: 600
}
/* title */
.hero-title{
    color: #FAF4EA;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}
.hero-title .accent{
    color: #547027;
}
 .advantages-list {
    background-color: var(--color-brand-color);
    color: #FAF4EA;
 } 
 .advantages-item {
     font-size: 20px;
     font-weight: 300;
     line-height: 1.5;
 }
 .section-title {
    color: #31261A;
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
 }              
 /* tradidtion section */
.tradition-text .uppercase{
text-transform: uppercase;  }

.tradition-text .brand {
    color:var(--color-brand);
    font-weight: 600
}
.chef-title{
    font-size: 24px;
    font-weight: 600;
line-height: 1.5;}

/* format section */
.format-title{
    font-size:  24px;
    font-weight: 600;
}
.format-text{
    font-size: 14px;
    font-weight: 300;
}
/* footer adess */
.adress-link{
font-size: 16px;
font-weight: 300;
color: var(--color-brand-color);
text-decoration: none;
}
.footer-copy{
    font-size: 14px;
    font-weight: 400;
}