:root {
    --color-brand #547027
}

ul{list-style-type: none;}
.buton{
color: #faf4ea; 
background-color: var(--color-brand);
border: 2px solid var(--color-brand);
border-radius: 8px;
cursor: pointer;
}
/* button */
.button:hover {
    color: #547027;
    background-color: transparent;
}
button:focus {
    color: fuchsia;
    background-color: transparent;
}
/* link */
.link{
    color: chocolate;
}
.link:hover {
    color: var(--color-brand);
}
/* title */
.hero-title{
    color: #FAF4EA;
}
.hero-title .accent{
    color: var(--color-brand);
}
 .advantages-list {
    background-color: var(--color-brand);
    color: #FAF4EA;
 } 
 .section-title {
    color: #31261A;
 }              