.buton{
color: #faf4ea; 
background-color: #547027;
border: 2px solid #465b24;
border-radius: 8px;
cursor: pointer;
}
.button:hover {
    color: #465929;
    background-color: transparent;
}
button:focus {
    color: fuchsia;
    background-color: transparent;
}